/* Archia - local files in /public/fonts/ (thin, light, regular, medium, semibold, bold) */
@font-face {
  font-family: "Archia";
  src: url("/fonts/archia-thin-webfont.woff2") format("woff2"),
       url("/fonts/archia-thin-webfont.woff") format("woff"),
       url("/fonts/archia-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archia";
  src: url("/fonts/archia-light-webfont.woff2") format("woff2"),
       url("/fonts/archia-light-webfont.woff") format("woff"),
       url("/fonts/archia-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archia";
  src: url("/fonts/archia-regular-webfont.woff2") format("woff2"),
       url("/fonts/archia-regular-webfont.woff") format("woff"),
       url("/fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archia";
  src: url("/fonts/archia-medium-webfont.woff2") format("woff2"),
       url("/fonts/archia-medium-webfont.woff") format("woff"),
       url("/fonts/archia-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archia";
  src: url("/fonts/archia-semibold-webfont.woff2") format("woff2"),
       url("/fonts/archia-semibold-webfont.woff") format("woff"),
       url("/fonts/archia-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archia";
  src: url("/fonts/archia-bold-webfont.woff2") format("woff2"),
       url("/fonts/archia-bold-webfont.woff") format("woff"),
       url("/fonts/archia-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Silka - normal weights */
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-thin-webfont.woff2") format("woff2"),
       url("/fonts/silka-thin-webfont.woff") format("woff"),
       url("/fonts/silka-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-extralight-webfont.woff2") format("woff2"),
       url("/fonts/silka-extralight-webfont.woff") format("woff"),
       url("/fonts/silka-extralight-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-light-webfont.woff2") format("woff2"),
       url("/fonts/silka-light-webfont.woff") format("woff"),
       url("/fonts/silka-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-regular-webfont.woff2") format("woff2"),
       url("/fonts/silka-regular-webfont.woff") format("woff"),
       url("/fonts/silka-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-medium-webfont.woff2") format("woff2"),
       url("/fonts/silka-medium-webfont.woff") format("woff"),
       url("/fonts/silka-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-semibold-webfont.woff2") format("woff2"),
       url("/fonts/silka-semibold-webfont.woff") format("woff"),
       url("/fonts/silka-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-bold-webfont.woff2") format("woff2"),
       url("/fonts/silka-bold-webfont.woff") format("woff"),
       url("/fonts/silka-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-black-webfont.woff2") format("woff2"),
       url("/fonts/silka-black-webfont.woff") format("woff"),
       url("/fonts/silka-black-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Silka - italic variants (when present) */
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-regularitalic-webfont.woff2") format("woff2"),
       url("/fonts/silka-regularitalic-webfont.woff") format("woff"),
       url("/fonts/silka-regularitalic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-mediumitalic-webfont.woff2") format("woff2"),
       url("/fonts/silka-mediumitalic-webfont.woff") format("woff"),
       url("/fonts/silka-mediumitalic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/silka-bolditalic-webfont.woff2") format("woff2"),
       url("/fonts/silka-bolditalic-webfont.woff") format("woff"),
       url("/fonts/silka-bolditalic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
