@font-face {
  font-family: "Archia";
  src: url("/fonts/Archia-Regular.woff2") format("woff2");
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: "Silka";
  src: url("/fonts/Silka-Regular.woff2") format("woff2");
  font-weight: 300 700;
  font-display: swap;
}
